## PROBLEM #2

In [1]:
import pandas as pd

In [4]:
# (a)
cars = pd.read_csv("cars.csv")
first_odd = cars.loc[[0, 1, 2, 3, 4], ['Model', 'cyl', 'hp', 'wt', 'vs', 'gear']]
print("a. First 5 rows with odd-numbered columns:")
first_odd

a. First 5 rows with odd-numbered columns:

               Model  cyl   hp     wt  vs  gear
0          Mazda RX4    6  110  2.620   0     4
1      Mazda RX4 Wag    6  110  2.875   0     4
2         Datsun 710    4   93  2.320   1     4
3     Hornet 4 Drive    6  110  3.215   1     3
4  Hornet Sportabout    8  175  3.440   0     3

In [11]:
#(b)
mazda_rx4 = cars.loc[cars['Model'] == 'Mazda RX4']
print("\nb. Row that contains the Model of Mazda Rx4: ")
mazda_rx4

b. Row that contains the Model of Mazda Rx4:

       Model   mpg  cyl   disp   hp  drat    wt   qsec  vs  am  gear  carb
0  Mazda RX4  21.0    6  160.0  110   3.9  2.62  16.46   0   1     4     4

In [14]:
#(c)
camaro_cyl = cars.loc[cars['Model'] == 'Camaro Z28', ['Model', 'cyl']]
print("\nc. Cylinders of Camaro Z28: ") 
camaro_cyl

c. Cylinders of Camaro Z28:

         Model  cyl
23  Camaro Z28    8

In [16]:
#(d)
models = ['Mazda RX4 Wag', 'Ford Pantera L', 'Honda Civic']
subset_models = cars.loc[cars['Model'].isin(models), ['Model', 'cyl', 'gear']]
print("\nd. Cylinders and gear of Mazda RX4 Wag, Ford Pantera L, Honda Civic: ")
subset_models

d. Cylinders and gear of Mazda RX4 Wag, Ford Pantera L, Honda Civic:

             Model  cyl  gear
1    Mazda RX4 Wag    6     4
18     Honda Civic    4     4
28  Ford Pantera L    8     5